body{

font-family: 'Lato', sans-serif;

}
img {
	max-width: 100%;	
}
.quitar-float{
	float:  none;
}
.espacio-arriba{
	margin-top: 100px;
}
.tipodeletrapacifico{
	font-family: 'Pacifico', cursive;
    color: peru;
}
.tamanodeletragrnade{
	font-size: 17em;
}
.se-ve-gris{
	background-color: #eee;
}
.aliniado{
	vertical-align: top;
}
.mediano{
	font-size: 1.5em;
}
.padding-largo{
	padding: 5px 10px;
}
.colorverde{
	color: #00887C
}
.espacio-derecha{
	margin-right: 1em;
}
.retraso-1{
	-webki-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.retraso-2{
	-webki-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.retraso-3{
	-webki-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.no-lista{
	margin: 0px;
	padding: 0px; 
}
.no-lista li{
   list-style-type: none;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.centrado-flex{
	display: flex;
	aling-items: center;
	justify-content: space-around;
}

a,.azul{
	color: #009FFF;
}
